body {
  background-image: url("https://cdn.pixabay.com/photo/2016/12/04/22/15/fitness-1882721_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.nav-component {
  height: 8vh;
  width: 100vw;
  background-color: #333333;
  /* background-color: #060606; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}
.dashboard-button {
  color: rgb(7, 214, 24);
  text-decoration: none;
  font-size: 19px;
}
.dropdown-link {
  color: #0359f8;
  text-decoration: none;
}

.nav-cart-dropdown {
  position: relative;
}
.cart-dropdown {
  background-color: transparent;
  color: whitesmoke;
  border: none;
  font-size: 26px;
}

.home-page-title {
  color: whitesmoke;
  font-family: Norse;
  font-size: 52px;
  letter-spacing: 3px;
}
.home-page {
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
}
.about-us {
  color: rgb(252, 249, 249);
  font-size: 26px;
  font-weight:500;
  line-height: 39px;
  font-family: Norse;
  /* font-weight: 500; */
}

.auth-title {
  color: whitesmoke;
  font-family: Norse;
  font-size: 52px;
}

.auth-reminder {
  color: whitesmoke;
}

.sign-in-button {
  background-color: whitesmoke;
  height: 3vh;
  width: 7vw;
  margin-bottom: 10px;
}

.sign-in-button:active {
  background-color: rgb(7, 214, 24);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.registration-link {
  color: rgb(7, 214, 24);
  text-decoration: none;
  margin-top: 5px;
}

.register-header-text {
  color: whitesmoke;
  font-family: Norse;
  font-size: 39px;
}

.register-checkbox-text {
  color: whitesmoke;
}

.register-button {
  margin-top: 7px;
}

.register-button:active {
  background-color: rgb(7, 214, 24);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.dropdown-content {
  background-color: rgb(253, 251, 251);
  min-width: 160px;
  padding: 12px 16px;
  margin-top: 52px;
  margin-right: 39px;
  margin-left: -39px;
  text-decoration: none;
  display: inline-block;
  z-index: 1;
  position: absolute;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

.swag {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 78vh;
  align-items: center;
  justify-content: space-evenly;
}
.swag-descr {
  color: whitesmoke;
  font-family: Norse;
  font-size: 52px;
  letter-spacing: 2px;
  padding-top: 0;
  margin-bottom: 0;
}
.swag-image {
  height: 30vh;
  width: 30vh;
}
.swag-dropdown {
  width: 20vw;
  height: 26px;
}
.swag-color {
  width: 20vw;
  height: 26px;
}
.sizes-box {
  width: 5vw;
  height: 26px;
}
.add-swag {
  background-color: green;
  width: 13vw;
  height: 5vh;
  color: whitesmoke;
  font-size: 26px;
}
.hidden {
  display: none;
}

.checkout-text {
  color: whitesmoke;
  font-size: 52px;
  font-family: Norse;
}

.checkout-total {
  color: whitesmoke;
}

.continueShopping {
  margin-top: 26px;
  height: 31px;
  border-radius: 5px;
}

.continueShopping:active {
  background-color: rgb(7, 214, 24);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.cart-product-img {
  width: 10vw;
  height: 10vh;
}

.cart-product-info {
  display: flex;
  justify-items: left;
  align-items: center;
  justify-content: left;
}

cart ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.cart-product-quantity-button {
  height: 50px;
  width: 50px;
  font-size: 16px;
}

.cart-total {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
}

.stripeCheckout {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}

.cart-product-quantity-button {
  color: whitesmoke;
  border: 0;
  display: inline-block;
  background-color: transparent;
  font-size: 24px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .edit-quantity-dropdown {
  width: 40px;
  padding: 12px 16px;
  align-items: center;
  border: none;
  color: #1d1d1f;
  border-color: #d2d2d7;
  background-color: hsla(0,0%,100%,.8);
  text-rendering: auto;

} */

.dropdown-item {
  border: none;
  font-size: 24px;
  background-color: hsla(0, 0%, 100%, 0.8);
}

.cart-item-remove-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  color: #0070c9;
  font-size: 17px;
}

.cart-quantity-options {
  position: absolute;
}

.cart-product-name {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
}

.cart-product-color {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  color: whitesmoke;
}

.cart-product-quantity {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d1d1f;
}

.cart-product-price {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d1d1f;
  font-size: 27px;
}

.cart-remove-button {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.cart-review-text {
  font-size: 52px;
  padding-top: 20px;
  color: whitesmoke;
  font-family: Norse;
}

.cart-return-text {
  font-size: 18px;
  color: whitesmoke;
}
