body{
  background-image: url('https://cdn.pixabay.com/photo/2016/12/04/22/15/fitness-1882721_1280.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}
.nav-component {
  height: 8vh;
  width: 100vw;
  background-color: #333333;
  /* background-color: #060606; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;

}
.dashboard-button {
  color: rgb(7, 214, 24);
  text-decoration: none;
  font-size: 19px;
}
.dropdown-link {
  color: #0359f8;
  text-decoration: none;
}

.nav-cart-dropdown {
  position:relative;
}
.cart-dropdown {
  background-color: transparent;
  color: whitesmoke;
  border: none;
  font-size: 26px;
}

.home-page-title {
  color: whitesmoke;
  font-family: Carnivalee Freakshow;
  font-size: 30px;
  letter-spacing: 3px;
}
.home-page{
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;

}
.about-us{
  color:rgb(252, 249, 249);
  font-size: 26px;
  line-height: 39px;
  font-family: Norse;
  font-weight: 500;
 }

 .dropdown-content {
  background-color: rgb(253, 251, 251);
  min-width: 160px;
  padding: 12px 16px;
  margin-top: 52px;
  margin-right: 39px;
  margin-left: -39px;
  text-decoration: none;
  display: inline-block;
  z-index: 1;
  position: absolute;
  
}

ul {
  list-style-type: none;
  text-decoration: none;
}
